{%extends 'base.html'%}

{%block content%}

<div class="profile">
    {% if user.image %}

    <img src="{{user.image.url}}" width="150px" style="border-radius:70px; margin-top:3%">

    {% else %}

    Foydalanuvchi rasmi

    {%endif%}
    <br>
    {{user.username}}
    <br>
    First Name:{{user.first_name}}<br>
    Last Name:{{user.last_name}}<br>
    Email:{{user.email}}<br>
    Phone Number:{{user.phone_number}}<br>
    Short biography:{{user.bio}}<br>
    <br>
    <div>
        <a class="btn btn-success" href="{% url 'profile_update' %}">Update Profile</a>
        <a class="btn btn-danger" href="{% url 'profile_delete'%}">Delete Profile</a>
    </div>

</div>
{% endblock%}